.content .two h4{
    text-align: center;
    color: white;
    margin-bottom: 4rem;
    padding: 1rem;
    color: #F15336;
    font-weight: bold;
    font-size: 1.8rem;
}
form .colbox{
    margin-bottom: 4rem;
}
body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
#imageUpload
{
    display: none;
}

#profileImage
{
    cursor: pointer;
}

#profile-container {
    width: 100px;
    height: 100px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

#profile-container img {
    width: 150px;
    height: 150px;
    text-align: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
main .colbox label{
    color: white;
    margin: .5rem;
    padding: .5rem;
    font-size: 1.5rem;
}
main .colboxb button{
    background-color: #F15336;
    color: white;
    border: none;
    border-radius: .5rem;
    padding: 1rem;
    font-weight: bold;
    text-align: center;
    width: 12rem;
    
}
main .colboxb{
    text-align: center;
    margin-top: 25px;
}
main .form-row input[type="file"]{
    background-color: white;
    padding: .5rem;
    border-radius: .3rem;
}
form #category{
    padding: 1rem;
}
form #category option{
    padding: .5rem;
}