
		#sidebar{
			background-color: #212130 !important;
		}
		.main .navbar{
			background-color: #212130 !important;
			height: 105px;
		}
		main{
			background-color: #17171E;
		}
		.card{
			border-radius: 1.4rem;
			width: 210px;
			height: 217px;
		}
		.card-body{
			padding: 0.6rem;
			text-align: center;
		}
		.card-body h4{
			color: white !important;
			font-weight: 700 !important;
			font-family: BlackerText-Bold;
			font-size: 21px !important;
		}
		.card-body p{
			font-weight: 600;
			font-family: Lato-Black;
			color: #F15336;
			font-size: 3rem;
		}
		.card-body img{
			background-color: #2769EE;
			margin: 1.2rem;
			padding: 1.2rem;
			border-radius: 1rem;
		}
		.card-body .sec1{
			background-color: #EE27C0;
		}
		.card-body .sec2{
			background-color: #27BEEE;
		}
		.card-body .sec3{
			background-color: #DF2C57;
		}
		.card-body .sec4{
			background-color: #EE9827;
		}
		.card-body .sec5{
			background-color: #BEC747;
		}
		.card-body .sec6{
			background-color: #7B25D1;
		}
		.navbar .btn-first{
			margin: .9rem;
			border: 1px solid #F15336;
			border-radius: .4rem;
			padding: .6rem;
			background-color: #212130;
			color: #F15336;
			width: 142px;
		}
		.navbar .btn-forth{
			margin: .9rem;
			font-size: 1.2rem;
			border: 1px solid #F15336;
			border-radius: .4rem;
			padding: .6rem;
			background-color: #212130;
			color: #F15336;
			width: 108px;
		}
		.navbar .btn-second{
			margin: .9rem;
			border: 1px solid #F6AD2E;
			border-radius: .4rem;
			padding: .6rem;
			background-color: #212130;
			color: #F6AD2E;
			width: 142px;
		}
		.navbar .btn-fifth{
			margin: .9rem;
			font-size: 1.2rem;
			border: 1px solid #F6AD2E;
			border-radius: .4rem;
			padding: .6rem;
			background-color: #212130;
			color: #F6AD2E;
			width: 108px;
		}
		.navbar .btn-three{
			margin: .9rem;
			border: 1px solid #4A39FB;
			border-radius: .4rem;
			padding: .6rem;
			background-color: #212130;
			color: #4A39FB;
			width: 142px;
		}
		.navbar .btn-sixth{
			margin: .9rem;
			font-size: 1.2rem;
			border: 1px solid #4A39FB;
			border-radius: .4rem;
			padding: .6rem;
			background-color: #212130;
			color: #4A39FB;
			width: 108px;
		}
		table tbody th{
			color: white;
		}
		table thead th{
			color: #A4A4A4;
			font-size: 14px;
		}
		table tbody td{
			color: white;
		}
		table tbody .last{
			border-bottom: none;
		}

		.sidebar .sidebar-content .container{
			top: -4%;
			background-color: #145650; 
			opacity: 1; 
			height: 132px; 
			width: 210px; 
			border-radius: 1.2rem; 
			position: relative;
			list-style: none;
		}
		.sidebar-content .container .centered{
			position: absolute; 
			color: #145650; 
			font-size: 16px;
		}

		.sidebar-content h4{
			color: #A4A4A4;
			font-size: 16px;
			text-align: left;
			margin-left: 2rem;
		}

		.sidebar-content p{
			color: #A4A4A4;
			font-size: 12px;
			text-align: left;
			margin-left: 1.8rem;
		}

		.container .centered .dot{
			width: 7px;
			line-height: 1rem;
			height: 3px;
			opacity: 0.27058823529411763;
			color: #FFFFFF;
		}
		.container .centered .blurtext{
			width: 18rem; 
			font-size: 13.3px !important;
			margin-left: .1rem !important;
			color: #A4A4A4;
			font-family: Lato-Light;
		}
		.container .centered a{
			color: white;
		}
		.sidebar .sidebar-content img{
			width: 106px; 
			margin-left: 6.5rem; 
			padding: 1.4rem;	
		}
		.sidebar .sidebar-nav .active a{
			height: 65px; 
			color: #F93A0B;
		}
		.sidebar .sidebar-nav .sidebar-item a{
			height: 65px; 
			padding: 2rem;
			text-decoration: none;
		}
		.sidebar .sidebar-nav .active .align-middle{
			color: #F93A0B;
		}
		.main .navbar .sidebar-toggle{
			margin-left: 3rem;
		}
		.main .navbar h4{
			color: white; 
			vertical-align: middle; 
			margin-top: .7rem;
			margin-left: 1.5rem;
		}
		.content .container-fluid h4{
			color: #A4A4A4; 
			font-size: 1.8rem;
			margin-left: .5rem;
		}
		.content .container-fluid h4 b{
			color: #A4A4A4; 
			font-size: 1.8rem;
			margin-left: 3rem;
		}
		.content .container-fluid h5{
			color: #A4A4A4; 
			font-size: 1.1rem;
			margin-left: 2.3rem;
		}
		.content .container-fluid .second-t{
			margin-left: 0rem;
			font-size: 1.8rem;
		}
		.first-t{
			margin-top: -2.3rem;
			margin-left: -3rem;
		}
		.first-t .card{
			width: 650px; 
			margin-left: 2.2rem; 
			height: 590px;	
		}
		table{
			width: 650px;
			background-color: #212130 !important; 
			border-radius: 2rem;
		}
	








	
		.main{
			height: 1250px;
		}
		.navbar-nav{
			float: right !important;
		}
		
		/* sm */
		@media (min-width: 768px) and (max-width: 991px) {

			.navbar .dropdown-toggle{
				display: none !important;
			 }

			.main{
				height: 1200px;
			}
			.col-sm-3 {
				width: 50%;
			}
			.first-t .card{
				width: 600px;
				margin-left: 0rem;
				height: 370px;
			}
			.first-t{
				margin-top: 0rem;
			}
			
			.content .container-fluid h4 b{
				margin-left: 9rem !important;
			}
			.content .container-fluid .first-t{
				margin-left: 0rem;
				margin-top: 5rem;
			}
			.content .container-fluid .first-t h5 b{
				margin-left: 1rem;
			}
			.content .container-fluid .second-t h5 b{
				margin-left: 1rem;
			}
			.content .container-fluid h5 {
				margin-left: 0.3rem;
			}
			.navbar-collapse {
				padding-right: 15px;
				padding-left: 15px;
				-webkit-overflow-scrolling: touch;
			}
		} 

		/* xs */
		@media (max-width: 767px) {
			.navbar .navbar-collapse .dropdown-toggle{
				visibility: visible !important;
			}
			.main{
				height: 1750px;
			}
			.card{
				width: 170px;
				height: 200px;
			}
			.first-t .card{
				width: auto !important;
				margin-left: 4rem;
				height: 370px;
			}
			.first-t{
				margin-top: 0rem;
			}
			.first-t h5{
				margin-left: 4rem !important;
				margin-top: 2rem !important;
				font-size: 1.8rem;
				margin-top: -1.5rem;
			}
			
			.main .content .container-fluid .basic{
				margin-left: -2rem !important;
			}
		
			.navbar .navbar-collapse{
				visibility: visible;
			}
			.navbar-expand .navbar-collapse {
				flex-basis: auto;
				display: none !important;
			}
			.navbar-collapse {
				padding-right: 15px;
				padding-left: 15px;
				-webkit-overflow-scrolling: touch;
				box-shadow: none;
			}
			.navbar-collapse button{
				width: auto !important;
			}
			.main .navbar .sidebar-toggle{
				margin-left: 3rem;
			}
			.content .container-fluid .second-t{
				margin-left: .7rem !important;
			}
		}

		/* md */
		@media (min-width: 992px) and (max-width: 1199px) {
		.navbar .dropdown-toggle{
			display: none !important;
		 }
		 .main{
			 width: 100% !important;
		 }
		 .sidebar{
			 display: block;
		 }
		 .card {
			width: 190px;
			height: 210px;
		}
		}

		/* lg */ 
		@media (min-width: 1200px) and (max-width: 1500px) {	
			.navbar .dropdown-toggle{
				display: none !important;
			 }	
			.card {
				width: 179px;
				height: 192px;
				margin-left: 8rem;
			}
			
		}
		@media (min-width: 1200px){
			.navbar .dropdown-toggle{
				display: none !important;
			 }
		} 
		

		main{
			margin-top: -3rem;
		}
		.first-t .card{
			height: 570px;
			width: 640px;
		}
		.sidebar .sidebar-content ul li i{
			margin-left: 2rem;
		}

		.sidebar .sidebar-content ul li svg{
			margin-left: 2rem;
		}
	
		.content table thead tr th{
			padding: 1.8rem;
		}
		.content table tbody tr th{
			padding: 1.8rem;
		}
		
		@media (min-width: 768px){
		.navbar-nav {
			float: right;
			margin: 0;
		}
		.navbar .navbar-collapse .dropdown{
			visibility: visible;
		}
		.first-t .card {
			height: 565px;
			width: 650px !important;
		}
	}
	.main .content .container-fluid .basic{
		margin-left: -15rem;
	}
	.main1 .first-t h5{
		font-size: 1.8rem;
		margin-top: -1.5rem
	}

	table tbody td{
		vertical-align: middle !important;
	}
	.navbar .navbar-collapse .dropdown-toggle{
		visibility: hidden;
	}
